@font-face {
    font-family: 'bignoodletitling';
    src: url(../font/bignoodletitling.ttf);
    font-weight: normal;
    font-style: normal;
}

header{
    z-index: 99999;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    height: 70px;
}
header h1 {
    position: relative;
    top: 8px;
    font-family: 'bignoodletitling';
    color: #412727;
    font-size: 40px;
}
#btn-reg{
    position: absolute;
    right: 10%;
    top: 100px; 
    width: 205px;
    height: 50px;
    border: none;
    text-shadow: black 0 0 1px;
    letter-spacing: 1px;
    background: white;
    box-shadow: 0px 0px 4px 3px rgba(135, 149, 160, 0.2);
    color: #ebebeb;
    display: block;
    text-transform: uppercase;
}

#txt{
    position: absolute;
    left: 10%;
    top: 100px; 
    border: none;
    background: white;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    width: 30%;
    height: 50px;
    display: block;
}

#btn-reg:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 4px 6px rgba(135, 149, 160, 0.2);
}

#btn-reg:active{
    transition: 0.5s;
    box-shadow: none;
    background-color: #f9f2f2;
    text-shadow: rgb(153, 153, 153) 0 0 1px;
}

.reg-content {
    z-index: 9999;
    position: fixed;
    visibility: hidden;
}

.reg-content {
    z-index: 99999;
    position: fixed;
    left: 15%;
    right: 15%;
    top: -20px;
    bottom: 15%;
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.2); 
    backface-visibility: hidden;
    overflow: auto;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.4s;
    visibility: visible;
}

.reg-content.is-visible{
    transform: translateY(0);
    top: 35%;
}

.modal-dialog {
    z-index: 9999999;
    position: fixed;
    left: 15%;
    right: 15%;
    top:45px;
}

